/* General styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
  }
  
  /* Styling the initial message */
  .message-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Text and button */
  .message-text {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .show-heart-button {
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .show-heart-button:hover {
    background-color: #45a049;
  }
  
  /* Heart container */
  .heart-container {
    position: relative;
    width: 90%;
    max-width: 300px;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Heart image */
  .heart-image {
    width: 100%;
    height: auto;
  }
  
  /* Text on heart */
  .heart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(224, 106, 106);
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
  @media (max-width: 600px) {
    .message-text {
      font-size: 16px;
    }
    
    .show-heart-button {
      font-size: 14px;
      padding: 6px 12px;
    }
  
    .heart-text {
      font-size: 20px;
    }
  }
  